
/* BASE */

html {
  box-sizing: border-box;
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

svg {
  height: 1em;
}

/* ADAPTIVE DOM */

.izi--adaptive {
  * {
    word-wrap: break-word;
    max-width: 100%;
    min-width: 0;
  }
  img {
    display: block;
    flex-shrink: 0;
    align-self: inherit;
  }
}

/* RIGID / SCROLL / HIDDEN DOM  */

.izi--scroll {
  overflow: auto;
}

.izi--hidden {
  overflow: hidden;
}

.izi--scroll *,
.izi--hidden * {
  max-width: none;
  min-width: inherit;
  word-wrap: normal;
  flex-shrink: 0;
}