.aboutTextInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1em;
  margin-right: auto;
}

.coverInputContainer {
  position: relative;
  height: 12.5em;
  width: 12.5em;
}

.coverLabel {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #d3d3d3;
  padding: 0.25em;
  flex-shrink: 0;
  cursor: pointer;
}

.coverInput {
  opacity: 0;
}
.coverInput:invalid ~ .coverLabel {
  border-color: red;
}
.coverInput:focus ~ .coverLabel {
  border-color: orange;
}

.shareFormAboutFieldset {
  width: 40em;
  margin: 0 auto;
  border: none;
  display: flex;
}

.shareFormAboutFieldsetInline {
  display: flex;
  align-items: center;
}