.donateCard {
  border-radius: 2px;
}

.donateGif {
  border-radius: 2px;
  width: 30em;
  margin: 0 auto;
}

.cryptoTable {
  border: 1px solid lightgrey;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
}

.cryptoTable,
.cryptoTable td {
  border: 1px solid lightgray;
}

.cryptoTable td {
  padding: 0.75em 1em;
  word-wrap: break-word;
}

.cryptoTable td:first-child {
  width: 30%;
}

.donateButtons {
  padding: 2em 0;
  display: flex;
  justify-content: center;
}

.donateCreditCardLink {
  color: inherit;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border: 1px solid orange;
  border-radius: 2px;
}

.donateCreditCardLink:focus,
.donateCreditCardLink:active {
  box-shadow: 0 0 0 0.2rem antiquewhite;
  outline: none;
}

.donateCreditCardLink:hover {
  background-color: rgba(10,10,10,0.1);
}

.donateCreditCardLink:active {
  background-color: orange;
}