.shareDropZoneContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shareDropZoneIcon {
  font-size: 2.5em;
}

.shareDropZoneText {
  width: 15em;
  text-align: center;
  text-transform: uppercase;
}