.coverPreviewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverPreviewImage {
  width: 100%;
}

.coverPreviewNoCoverIcon {
  font-size: 5em;
  color: lightgray;
}