
.customTextInput {
  padding: 1em 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid lightgrey;
  width: 20em;
}


.customTextInput:invalid {
  border-color: red;
}

.customTextInput:focus {
  border-color: orange;
}