image: Visual Studio 2017

platform:
  - x64

cache:
  - node_modules
  - '%USERPROFILE%\.electron'

install:
  - ps: Install-Product node 8 x64
  - yarn

build_script:
  - yarn test
  - IF "%APPVEYOR_REPO_BRANCH%" == "master" (yarn compile && yarn build)