{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "styled-jsx/babel",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    [
      "babel-plugin-root-import", 
      [
        {
          "rootPathPrefix": "#",
          "rootPathSuffix": "src/app/view/_"
        },
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "src/app"
        }
      ]
    ]
  ]
}
