{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-stage-0"
  ],
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
}
