{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/e2e/**/*.js",
          "src/**/*.spec.js"
        ]
      }
    ]
  }
}