matrix:
  include:
    - os: osx
      osx_image: xcode9.0
      language: node_js
      node_js: "8"
      env:
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

    - os: linux
      services: docker
      language: generic

cache:
  directories:
  - node_modules
  - $HOME/.cache/electron
  - $HOME/.cache/electron-builder

before_install:
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      mkdir -p /tmp/git-lfs && curl -L https://github.com/github/git-lfs/releases/download/v2.3.1/git-lfs-$([ "$TRAVIS_OS_NAME" == "linux" ] && echo "linux" || echo "darwin")-amd64-2.3.1.tar.gz | tar -xz -C /tmp/git-lfs --strip-components 1
      export PATH="/tmp/git-lfs:$PATH"
    fi
before_script:
  - git lfs pull

script:
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      docker run --rm \
        --env-file <(env | grep -iE 'DEBUG|NODE_|ELECTRON_|YARN_|NPM_|CI|CIRCLE|TRAVIS|APPVEYOR_|CSC_|_TOKEN|_KEY|AWS_|STRIP|BUILD_') \
        -v ${PWD}:/project \
        -v ~/.cache/electron:/root/.cache/electron \
        -v ~/.cache/electron-builder:/root/.cache/electron-builder \
        electronuserland/builder:wine \
        /bin/bash -c "yarn --link-duplicates --pure-lockfile && yarn download:ipfs && yarn test && yarn build --linux --win"
    else
      npm run test
      npm run download:ipfs
      npm run build
    fi
before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine

before_deploy:
  # Set up git user name and tag this commit
  - git config --local user.name "Максим Ильин"
  - git config --local user.email "negamaxi@gmail.com"
  - |
    if [ "$TRAVIS_TAG" == "false"]; then
      git tag "dev-$(git log --format=%h -1)-$(date +'%Y%m%d%H%M%S')"
    fi

deploy:
  # dev builds
  - provider: releases
    api_key: $GH_TOKEN
    prerelease: true
    file_glob: true
    file:
      - dist/*.dmg
      - dist/*.exe
      - dist/*.AppImage
    skip_cleanup: true
    on:
      tags: true
      branch: master
      condition: $TRAVIS_PULL_REQUEST == false && $TRAVIS_TAG == dev-*
  # prod builds
  - provider: releases
    api_key: $GH_TOKEN
    file_glob: true
    file:
      - dist/*.dmg
      - dist/*.exe
      - dist/*.AppImage
    skip_cleanup: true
    on:
      tags: true
      branch: master
      condition: $TRAVIS_PULL_REQUEST == false && $TRAVIS_TAG == v*

branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
