
jobs:
  include:

    # TEST

    - if: branch = master AND type = pull_request
      os: osx
      osx_image: xcode9.0
      language: node_js
      node_js: "8"
      env:
        - NEED_TEST=true
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

    # RELEASE

    - if: branch = semantic-release AND type != pull_request
      os: osx
      osx_image: xcode9.0
      language: node_js
      node_js: "8"
      env:
        - NEED_TEST=true
        - NEED_BUILD=true
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

    - if: branch = semantic-release AND type != pull_request
      os: linux
      dist: trusty
      sudo: required
      services: docker
      language: node_js
      node_js: "8"
      env:
        - NEED_TEST=true
        - NEED_BUILD=true

cache:
  yarn: true
  directories:
  - node_modules
  - $HOME/.cache/electron
  - $HOME/.cache/electron-builder

before_install: git pull

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sleep 3; fi 

script:
  - if [ "$NEED_TEST" = true ]; then yarn test; fi
  - |
    if [ "$NEED_BUILD" = true ]; then
      if [ "$TRAVIS_OS_NAME" == "linux" ]; then
        docker run --rm \
          --env-file <(TMP_TCM=$TRAVIS_COMMIT_MESSAGE && unset TRAVIS_COMMIT_MESSAGE && env | grep -iE 'DEBUG|NODE_|ELECTRON_|YARN_|NPM_|CI|CIRCLE|TRAVIS|APPVEYOR_|CSC_|_TOKEN|_KEY|AWS_|STRIP|BUILD_' && export TRAVIS_COMMIT_MESSAGE=$TMP_TCM) \
          -v ${PWD}:/project \
          -v ~/.cache/electron:/root/.cache/electron \
          -v ~/.cache/electron-builder:/root/.cache/electron-builder \
          electronuserland/builder:wine \
          /bin/bash -c "yarn --link-duplicates --pure-lockfile && yarn build --linux --win -p never"
      else
          yarn build -p never
      fi
    fi

deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx travis-deploy-once "npx semantic-release"
  on:
    branches:    # ← new!
      only:      # ← new!
        - semantic-release # ← new!