.albums-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12.5em) ;
  justify-content: space-around;
  align-content: flex-start;
  grid-gap: 1em;
  padding: 1em;
  overflow-y: auto;
  flex-basis: 100%;
  flex-shrink: 1 !important;
}