
.selected-actions {
  border-top: 1px solid gray;
}

.selected-actions button {
  padding: 0.5em 0.75em;
  border-radius: 2px;
}

.selected-actions button:focus {
  background-color: var(--accent-color);
  color: white;
}

.selected-actions small:not(:first-child) {
  margin-left: 0.25em;
}

.selected-actions__cancel {
  margin-left: auto !important;
}