#root {
  height: 100vh;
}

.app {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.navigation {
  padding: 0 0.5em;
  background-color: darkslategrey;
}

.navigation_item {
  margin: 0.5em 0;
  padding: 0.5em;  
}

.playlist {
  background-color: #f1f1f1;
}

.playlist_track {
  padding: 0.5em;
}

.track_title {
  font-size: 0.75em;
}

.track_artist {
  font-size: 0.5em;
  color: darkgray;
}

.albums-feed {
  overflow-y: auto;
  align-content: flex-start;
}

.album {
  width: 10em;
  margin: 1em;
}

.album_cover-area {
  padding: 0.5em;
  height: 10em;
  background-repeat: no-repeat;
}

.album_title {
  text-align: center;
  margin: 1em 0 0 0;
}

.album_artist {
  text-align: center;
  margin: 0.5em 0;
  color: darkgray;
}