
.navigation {
  grid-area: navigation;
  background-color: var(--primary-color);
  overflow-y: auto;
}

.navigation__item:not(:first-child) {
  margin-top: 0.5em;
}

.navigation__item {
  display: block;
  background-color: var(--white-shade-1);
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 0.75em 1em;
  transition: 0.2s;
  cursor: pointer;
}

.navigation__item:hover {
  background-color: var(--white-shade-2);
}
.navigation__item:focus {
  background-color: var(--accent-color);
  outline: none;
}