body {
  color: var(--primary-color);
  fill: var(--primary-color);
  font-size: 0.75em;
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI, Roboto,
  Oxygen, Ubuntu,
  Cantarell, Fira
  Sans, Droid Sans,
  Helvetica Neue,
  sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input, button {
  font-size: 1em;
}

svg {
  flex-shrink: 0;
}


.button {
  border-radius: 2px;
  border: 1px solid gray;
}

.button:focus {

}

.round-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sync-icon,
.dnd-icon {
  font-size: 2.5em;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.broken-image-icon {
  font-size: 2.5em;
}

.no-cover-icon {
  font-size: 5em;
}

#root {
  height: 100vh;
}

.izi-rounded {
  border-radius: 0.15em;
}

main {
  flex-shrink: 1;
  min-width: 15em;
  overflow-y: auto;
}