/* Coolors Exported Palette - coolors.co/34ffce-ffd752-1d4297-5d3b9c-a633a2 */

/* HSL */
/*
$color1: hsla(166%, 100%, 60%, 1);
$color2: hsla(46%, 100%, 66%, 1);
$color3: hsla(222%, 68%, 35%, 1);
$color4: hsla(261%, 45%, 42%, 1);
$color5: hsla(302%, 53%, 43%, 1);
*/

/* RGB */
/*
$color1: rgba(52, 255, 206, 1);
$color2: rgba(255, 215, 82, 1);
$color3: rgba(29, 66, 151, 1);
$color4: rgba(93, 59, 156, 1);
$color5: rgba(166, 51, 162, 1);
*/

:root {
  --accent-color-dark: #b32241;
  --accent-color: rgb(239,45,86);
  --accent-color-light: #f26280;
  --primary-color-dark: #1e2530;
  --primary-color: rgb(40,48,63);
  --primary-color-light: #4f5561;
  --secondary-color-dark: #0f60b4;
  --secondary-color: rgb(19,128,240);
  --secondary-color-light: #4ea0f3;
  --white-shade-1: rgba(255,255,255, 0.1);
  --white-shade-2: rgba(255,255,255, 0.2);
  --white-shade-5: rgba(255,255,255, 0.5);
  --white-shade-8: rgba(255,255,255, 0.8);
  --white-shade-9: rgba(255,255,255, 0.9);
  --black-shade-1: rgba(0,0,0, 0.1);
  --black-shade-2: rgba(0,0,0, 0.2);
  --black-shade-5: rgba(0,0,0, 0.5);
  --black-shade-8: rgba(0,0,0, 0.8);
  --black-shade-9: rgba(0,0,0, 0.9);
}