.readyScreen {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 17.5em auto 17.5em;
  grid-template-rows: auto 6em;
  grid-template-areas: 
    "navigation page playlist"
    "player player player";
}