
.selectedActions {
  border-top: 1px solid #ededed;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.selectedActions > * {
  margin: 0.5em;
}

.selectedActionsRight {
  margin-left: auto;
}