{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "settings": {
    "import/core-modules": [
      "electron"
    ]
  },
  "rules": {
    "import/no-unresolved": "off"
  }
}