.modal-window {
  border-radius: 2px;
  background-color: white;
  width: 35em;
  margin-top: calc(1em + 0.25vw);
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}