.mw-header__close {
  color: var(--accent-color);
  background: none;
  border: 1px solid white;
  transition: 0.2s;
}

.mw-header__close:focus {
  border: 1px solid var(--accent-color);
}

.mw-header__close:hover {
  background: var(--accent-color);
  color: white;
}