.notifications {

  &__wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__toast {
    display: block;
    width: 20em;
    border-radius: 2px;
    box-shadow: var(--material-shadow-2);
    color: white;
    padding: 1em;
    &:not(:first-child) {
      margin-top: 1em;
    }
    &--error {
      background-color: red;
    }

    &--warning {
      background-color: orange;
    }

    &--success {
      background-color: green;
    }
  }
  
}
