
.startScreen {
  &__wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__progressTotal {
    border-radius: 2px;
    overflow: hidden;
    width: 30em;
    background-color: #dedede;
  }
  &__progressReady {
    height: 0.25em;
    background-color: orange;
  }
  &__error {
    color: red;
  }
}