.albums-page__feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12.5em) ;
  justify-content: space-around;
  align-content: flex-start;
  grid-gap: 1em;
  padding: 1em;
  width: 100%;
}

.albums-page__title {
  padding-left: 2em;
  text-transform: uppercase;
  color: grey;
}