
.start-screen {
  background-color: white;
}
.start-screen .progress-bar__full {
  border-radius: 2px;
  overflow: hidden;
  width: 30em;
  background-color: #dedede;
}
.start-screen .progress-bar__ready {
  height: 0.25em;
  background-color: orange;
}
.start-screen .stage,
.start-screen .stage--checked {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
  border-radius: 50%;
}
.stage {
  background-color: rgba(10,10,10,0.2);
}
.stage--checked {
  background-color: cyan;
}