#app {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 90% auto;
  grid-template-areas: 
    "navigation page playlist"
    "player player player";
}