.playlist-track__contrast {
  background-color: rgba(20, 20, 20, 0.025); 
}

.playlist-track__button {
  background: none;
  border: none;
  outline: none;
  text-align: left;
}
.playlist-track__button:focus {
  color: var(--accent-color);
}
.playlist-track__artist-name {
  color: darkgray;
  margin-top: 0.5em;
}

.playlist-track__info:not(:first-child) {
  margin-left: 1em;
}

.playlist-track:not(:hover) .playlist-track__remove {
  visibility: hidden;
}

.playlist-track__artist-name,
.playlist-track__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-track__remove {
  flex-shrink: 0;
  padding: 0.5em;
  cursor: pointer;
}
.playlist-track__remove:hover {
  flex-shrink: 0;
  background: rgb(190,190,190);
}