.playlist-track__contrast {
  background-color: rgba(20, 20, 20, 0.025); 
}

.playlist-track__button {
  background: none;
  border: none;
  outline: none;
  text-align: left;
}
.playlist-track__current {
  border-left: 2px solid var(--secondary-color);
}

.playlist-track__button:focus, 
.playlist-track__button:hover {
  color: var(--accent-color);
}
.playlist-track__artist-name {
  color: darkgray;
  margin-top: 0.5em;
}

.playlist-track__info:not(:first-child) {
  margin-left: 1em;
}

.playlist-track:not(:hover) .playlist-track__remove {
  visibility: hidden;
}

.playlist-track__artist-name,
.playlist-track__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-track__remove {
  flex-shrink: 0;
  padding: 0.5em;
  cursor: pointer;
  color: rgba(10,10,10,0.5);
}
.playlist-track__remove:hover {
  background: var(--accent-color);
  color: white;
}