.volumeControl {
  position: relative;
  height: 100%;
  flex-basis: 15%;
  flex-shrink: 0;
  margin-left: 1em;
}

.volumeIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
}

.volumeInput {
  position: absolute;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  appearance: none;
  background: transparent; /* Otherwise white in Chrome */
  margin: 0;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 1.5em 0;
}
.volumeInput:focus {
  outline: none;
}

.volumeInput::-webkit-slider-runnable-track {
  background: none;
  border-left: 1px solid rgb(230,230,230);
  border-right: 1px solid rgb(230,230,230);
  width: 100%;
  height: 100%;
}
.volumeInput:hover::-webkit-slider-runnable-track,
.volumeInput:active::-webkit-slider-runnable-track {
}

.volumeInput::-webkit-slider-thumb {
  height: 100%;
  width: 1px;
  background: var(--secondary-color);
  -webkit-appearance: none;
  appearance: none;
}
.volumeInput:focus::-webkit-slider-thumb {
  background: orange;
}