
.playlist {
  font-size: 0.85em;
  grid-area: playlist;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.playlist__empty-message {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}
