{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-nested-ternary": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/destructuring-assignment": "off",
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
        "every": [ "id" ]
      }
    }]
  }
}