.albums-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.albums-page__no-albums {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albums-page__search-bar {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #dedede;
}

.albums-page__search-input {
  height: 2em;
  flex-basis: 100%;
  border: none;
  outline: none;
}

.albums-page__cancel-search {
  color: var(--accent-color);
  background: none;
  border: 1px solid white;
  transition: 0.2s;
}

.albums-page__cancel-search:focus {
  border: 1px solid var(--accent-color);
}

.albums-page__cancel-search:hover {
  background: var(--accent-color);
  color: white;
}


.albums-page__feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12.5em) ;
  justify-content: space-around;
  align-content: flex-start;
  grid-gap: 1em;
  padding: 1em;
  overflow-y: auto;
  flex-basis: 100%;
  flex-shrink: 1;
}