
.donatePage {
  padding: 1em;
}

.donate-pill {
  display: flex;
}
.donate-pill__coin {
  padding: 0.5em;
  background-color: lightskyblue;
  text-transform: capitalize;
}
.donate-pill__address {
  padding: 0.5em;
  background-color: bisque;
  margin-left: auto;
}

.donateGif {
  width: 100%;
  height: auto;
}